<div class="foot" style="height:400px; width:100%;">
 <h1 align="center"><u> About Us </u></h1>
 	
 	<div class="address" style="border:1px solid black; height:40%; width:25%;" align="center">
 		<h3>Address</h3>
 	 	<h5>Office No-13, Second floor, Indraneel Apartment,<br>
			Opposit Sharda Acrade, Besides Baasuri Hotel,<br>
			Near D-Mart, Pune Satara Road,<br>
			Ashwamedh Nagar, Pune-411009.</h5>
 	</div>

 	<div class="contact" style="border:1px solid black; height:20%; width:25%;" align="center">
 		<h3>Contact No.</h3>
 		<h5>+91 9158685500</h5>
 	</div>
 	<div class="email" style="border:1px solid black; height:20%; width:25%;" align="center">
 		<h3>Email</h3>
 		<h5>sotari.biz@gmail.com</h5>
 	</div>
 	<h6 align="center"> copyrights by Rangari9 2015-16</h6>
</div>